@import 'vars'

header.site-header
  padding: 20px 0 20px 0;
  // position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  background: white;

  &.header-fixed
    background: rgba(255,255,255,.8);
    position: fixed;

  nav 
    background: none;
    border: 0;
    margin: 0;
    a.navbar-brand 
      font-weight: bold
      margin: 0;
      display: inline-block
      float: left
      font-size: 24px;
      margin-right: 20px;
      color: black;
      padding: 5px 15px 0 15px;
      width: 130px;

      img
        position: relative;
        height: 36px;
        // width: 114px;
        margin-right: 10px;
        top: 2px;
        // display: none
    
      span 
        display: none
    a 
      color: #333;

    a.login
      margin-left: 20px;
      font-weight: bold

    a.signup   
      color: #666
      border: 1px solid #f1f1f1;
      padding-left: 16px;
      padding-right: 14px
      border-radius: 3px;
      margin-left: 10px;
      padding-bottom: 0;
      padding-top: 0;
      line-height: 40px;
      margin-top: 4px;
      &:hover 
        background: #f1f1f1;




  .navbar-default .navbar-collapse
    border-color: transparent;

    li.active a
      background: none !important;
      color: black !important

  .navbar-toggle
    border: 0;
    &:hover 
      background: none;
      .icon-bar
        background: black; 

@media screen and (max-width: 768px)
  header.site-header
    padding-top: 0;
    padding-bottom: 0;
    .navbar-brand
      margin-bottom: 20px
    .navbar-nav 
      margin: 0 ;
      padding: 0;
      a 
        padding-left: 5px
        padding-right: 5px;

      a.login
        margin-left: 0;
        // padding-left: 0;
      a.signup
        margin-top: 10px
        margin-bottom: 20px;
        padding-left: 0;
        padding-right: 0;
        margin-left: 5px;
        margin-right: 5px;
        display: block;